/bin/
/img1/
/img2/
/img3/
/img4/
/img5/
/img6/
/img7/
/colorsequence1/
/colorsequence2/
/colorsequence3/
/colorsequence4/
/colorsequence5/
/colorsequence6/
/colorsequence7/

/ScreenCamera-JAVA.iml
/.idea/

